.layout-wrapper {
    .admin-inner-layout-wrapper {
        .admin-content-wrapper {
            background-color: #fff;

            .content-wrapper {
                .breadcrumb-wrapper {
                    padding: 24px 24px 18px;
                }

                .content {
                    padding: 0 20px;
                }
            }
        }
    }
}