.admin-layout {
    background-color: red;

    .layout-wrapper {
        .admin-header {
            background-color: #fff;
            padding: 0;
            border-bottom: 1px solid #ece7e7;
        }
    }
}